.navigation {
  background-color: #881e1e;
  height: 60px;
  box-shadow: 0 2px 2px -1px rgba(0, 0, 0, 0.055);
  color: #bccaaf;
  display: flex;
  width: 100%; 
  margin: 0;
  align-items: center;
  position: sticky;
  top: 0px;
  }

  /* .navigation li {
    width:100px;
    display: table-cell;
    text-align: center;
    color: #d6d6d6;
    text-decoration: none;
    font-weight: bold;
    padding: 10px 20px;
  } */

  .nav-li {
    width:100px;
    display: table-cell;
    text-align: center;
    color: #d6d6d6;
    text-decoration: none;
    font-weight: bold;
    padding: 10px 20px;
  }
  .nav-liless {
    width:100px;
    display: table-cell;
    text-align: center;
    color: #d6d6d6;
    text-decoration: none;
    font-weight: bold;
    padding: 10px 20px;
  }



  .navigation li a {
    color: #ffffff;
  }

.navigation .nav-li:hover {
  background-color: #cb4848;
  color: #ffffff;
}

.list-a{
  color: #676666;

}

.list{
  /* background-color: #fff; */
  /* border-radius: 0 0 12px 12px; */
  padding: 15px 15px 20px;
  display: grid;
  row-gap: 8px;
}


.listItem{
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  align-items: center;
  padding: 10px 30px 10px 10px;
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 0 5px 7px -1px rgba(51, 51, 51, 0.23);
  cursor: pointer;
  transition: transform .25s cubic-bezier(.7,.98,.86,.98), box-shadow .25s cubic-bezier(.7,.98,.86,.98);
  background-color: #fff;
}